/* сброс стилей браузера */
body {
  margin: 0;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}
a {
 text-decoration: none;
 color: inherit;
}
img, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  color: inherit;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
h1, h2, h3, p {
  margin: 0;
}
address {
  font-style: normal;
}

/*Подключение файлов фрифта*/
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*Стили проекта*/
body {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;  
  line-height: 1.45;

  color: #0f0d0e;
}
::placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  position: relative;
  padding: 29px;

  width: 100%;

  color: #ffffff;
  background-image: url(../images/banner-bg.jpg);
  background-color: #111111;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);

  content: "";
}

.header__container {
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  box-sizing: border-box;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  width: 179px;
  max-width: 179px;
}

.nav__list {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.nav__item {
  position: relative;

  font-size: 13px;
  text-transform: uppercase;
}

.nav__link:after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 0%;
  height: 1px;

  background-color: #ffffff;

  content: "";

  transition: all 0.2s ease-in-out;
}

.nav__item:hover .nav__link:after {
  width: 100%;
}

.header__cover {
  padding: 105px;

  display: flex;
  justify-content: center;

  text-align: center;
}

.header__title {
  max-width: 700px;

  font-size: 45px;
  line-height: 1.66;
  text-transform: uppercase;
}

/* page */
.page__container {
  margin-top: 64px;
  margin-bottom: 64px;

  display: flex;
  justify-content: space-between;
  gap: 120px;
}

/* main */
/* posts */
.posts {    
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.post {
  display: flex;
  gap: 30px;
}
.post__image {
  min-width: 381px;
  max-width: 381px;
  min-height: 294px;
  max-height: 294px;

  background: #f4f7f6;
}

.post__tags {
  margin-bottom: 8px;

  display: flex;
  gap: 20px;
}

.post__tag-item {
  position: relative;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: #b59f5b;
}
.post__tag-link {
  display: block;
  line-height: 1;
}

.post__tag-link:after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 0%;
  height: 1px;

  background-color: #b59f5b;

  content: "";

  transition: all 0.2s ease-in-out;
}

.post__tag-item:hover .post__tag-link:after {
  width: 100%;
}

.post__title {
  margin-bottom: 29px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.post__title-link {
  color: #0f0d0e;

  transition: all 0.2s ease-in-out;
}
.post__title-link:hover {
  color: #b59f5b;
}

.post__meta {
  margin-bottom: 47px;

  display: flex;
  gap: 12px;

  font-size: 12px;
}
.post__date {
  color: #888888;
}

.post__autor {
  font-weight: 700;
}

.post__description {
  margin-bottom: 8px;
}

/* aside */
.aside {
  min-width: 270px;
  max-width: 270px;
}

.aside__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.aside__section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.aside__title {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.aside__title:after {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;

  display: block;
  width: 66px;
  height: 3px;

  background-color: rgba(181, 159, 91, 0.4);

  content: "";

  transition: all 0.2s ease-in-out;
}

/* posts */
.resent-posts {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* post */
.resent-post__item {
  display: flex;
  gap: 18px;
}

.resent-post__image {
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;

  background: #f4f7f6;
}

.resent-post__date {
  display: block;
  margin-bottom: 5px;

  font-size: 12px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
}

.resent-post__title-link {
  display: block;

  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  transition: all 0.2s ease-in-out;
}

.resent-post__title-link:hover {
  color: #b59f5b
}

/* search */
.search {
  display: flex;
}

.search__input {
  padding: 0 18px ;
  flex-grow: 1;

  background: #f4f7f6;
  border: none;
}

.search__input:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.search__button {
  width: 48px;
  height: 48px;

  background: #b59f5b;
  background-image: url(../svg/search.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;

  transition: all 0.2s ease-in-out;
}

.search__button:hover {
  background-color: #323232;
}

/* subscribe */
.subscribe__input {
  padding: 0 18px ;
  width: 100%;
  box-sizing: border-box;
  height: 48px;

  background: #f4f7f6;
  border: none;
}
.subscribe__input:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}
.subscribe__button {
  width: 100%;
  margin-top: 16px;
  padding: 14px;

  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
  background: #b59f5b;

  transition: all 0.2s ease-in-out;
}

.subscribe__button:hover {
  background: #323232;
}

/* tags */
.tags {
  display: flex;
  margin-top: -4px;
  flex-wrap: wrap;
  gap: 4px;     
}

.tags__link {
  display: block;
  padding: 4px 14px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  color: #0f0d0e;
  border: 3px solid #f4f3f1;

  transition: all 0.2s ease-in-out;
}

.tags__link:hover {
  border-color: #b59f5b;
}

/* themes */
.themes {
  margin-top: -7px;
}
.themes__item {
  padding: 8px 0px;

  display: flex;
  gap: 4px;

  border-bottom: 1px solid #eeeeee;
}

.themes__item:first-child {
  padding-top: 0px;
}

.themes__link {    
  padding: 5px 0px;

  font-size: 14px;
  font-weight: 700;

  color: #000000;

  transition: all 0.2s ease-in-out;
}

.themes__link:hover {
  color: #b59f5b;
}

.themes__count {
  font-size: 12px;
  font-weight: 700;

  color: #b59f5b;
}

/* footer */
.footer__social {
  padding: 32px 0px;
  margin-bottom: 74px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  background: #f4f7f6;
}
.social__item {
  width: 20px;
  height: 20px;
}

.social__link {    
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
}

.social__link_dribble {
  background-image: url(../svg/001-dribbble.svg);
}

.social__link_pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.social__link_tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.footer__copyright {
  margin-bottom: 40px;
  text-align: center;
}

.footer__text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;

  color: #999999;
}